<li class="p-5 z-10 col-start-1 col-span-4 md:col-span-1 {{ col }} {{ row }} bg-light hover:bg-secondary">
    <h3><a href="#" class="text-lg font-semibold text-primary">{{ title }} <i class="fas fa-up-right-from-square fa-xs"></i></a></h3>
    <ul class="px-3 text-base text-black hover:text-light hover:text-medium flex flex-col xs:max-md:flex-row">
        <li class="flex-1">{{ date }}</li>
        <li class="flex-1">{{ hour }}</li>
        <li class="flex-1">{{ location }}</li>
    </ul>
</li>

